<!-- templates/index.html 
This is our index page-->

<style>
  title{
    margin-top: 400px;
  }
  text-center{
    text-align: center;
  }
</style>
{% extends "base.html" %}

{% block content %}
<h1 class="text-center"  style="font-family:Aclonica, sans-serif; font-size:45px; color:rgb(57,28,95);background-position:center;background-size:cover;">
  Flask_Login
</h1>
<h2 class="text-center"  style="color:rgb(185,209,234);">
 Welcome to the FLASK_LOGIN
</h2>
<h3 class="text-center" style="color:rgb(185,209,234);">
  This app is mainly for user Authorization and Authentication.
















</h3>
{% endblock %}